[submodule "spoiler"]
	path = spoiler
	url = https://github.com/U-cauda-elongata/spoiler.git
[submodule "g123-sprite-viewer"]
	path = g123-sprite-viewer
	url = https://github.com/U-cauda-elongata/g123-sprite-viewer.git
